<div class="flex flex-col gap-4 overflow-hidden" *ngIf="shopCartService.selectedProduct() as product; else emptyCart">

  <img *ngIf="!!product.photo" [src]="product.photo" [alt]="product.name" class="w-full h-80 object-cover rounded-xl" />

  <div class="flex flex-col gap-1 p-4 justify-between w-full text-white">
    <h1 class="text-3xl font-bold">{{ product.name }}</h1>
    <p class=" text-sm">
      <i class="fa-solid fa-tag"></i>
      <span> {{ product.category }}</span>
    </p>
    <p class="text-2xl font-semibold mb-6">{{ product.price | currency:'BRL':'R$ ' }}</p>
    <p class=" text-sm">{{ product.description }}</p>
    <button class="mt-4 bg-blue-600 text-white py-2 px-4 rounded-xl hover:bg-blue-700 transition w-full"
      (click)="addToShopCart(product)">
      Adicionar ao carrinho
    </button>
  </div>

</div>

<ng-template #emptyCart>
  <div class="flex flex-col p-6 md:flex-row overflow-hidden w-full text-white">
    <p class="leading-relaxed flex flex-col justify-center content-center text-center w-full">
      <i class="fa-solid fa-circle-plus"></i>
      <span>Selecione um produto.</span>
    </p>
  </div>
</ng-template>